.Header{
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuLinks{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 400;
}